.main {
  position: absolute;
  left: 72px;
  right: 0;
  min-height: 100vh; 
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 20px;
}

.main > * {
  width: 100%;
  max-width: 1200px;
}

@media (max-width: 600px) {
  .main {
    position: static;
    left: auto;
    right: auto;
    padding: 20px;
  }
}